header {
position: relative;
background: url(https://hr-portal.ru/files/mini/scale_1200_35.jpg) center no-repeat;
-webkit-background-size: cover;
background-size: cover;
}

header:after {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,.5);
z-index: 2;
}

.inner {
color: #ba0;
position: relative;
z-index: 3;
color: #fff;
text-align: center;
padding: 50px; 
}

.text-block {
	color: #fa0;
	margin-top: 100px ;
	text-align: left;

}


.tablet {
	color: #ff0;
	margin-top: 90px;
	align-content: center;
}

.text-block2 {
	color: #af0;
	margin-top: 100px;
}

.imgs {

	margin-left: 1080px;
}